<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cardFragment (plant, currentUser)">
    <div class="col mb-4">
        <div class="card h-100">
            <a th:href="@{/plants/{id}(id=${plant.plantId})}">
                <img th:src="@{${plant.imagePath}}" class="card-img-top" alt="Plant Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${plant.name}">Plant Name</h5>
                    <p class="card-text" th:text="'Preis: ' + ${plant.price} + '€'">Plant Price</p>
                </div>
            </a>
            <div class="wishlist-container">
                <th:block th:if="${plant.seller.userId == currentUser.userId}">
                    <img src="/plant-images/wishListButtonBlack.png" class="wishlist-image" data-bs-toggle="tooltip" data-bs-placement="top" title="Du kannst deine eigene Pflanze nicht zur Wunschliste hinzufügen">
                </th:block>
                <th:block th:unless="${plant.seller.userId == currentUser.userId}">
                    <img th:src="@{${#lists.contains(currentUser.wishedPlants, plant) ? '/plant-images/wishListButtonColoured.png' : '/plant-images/wishListButtonBlack.png'}}"
                         th:data-plant-id="${plant.plantId}"
                         th:data-action="${#lists.contains(currentUser.wishedPlants, plant) ? 'remove' : 'add'}"
                         class="wishlist-image"
                         onclick="toggleWishlist(this)">
                </th:block>
            </div>
        </div>
    </div>
</th:block>
</html>
