<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Plant</title>
</head>
<body>
<h1>Create a Plant</h1>

<form th:action="@{/plants}" th:object="${newPlant}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Name" th:field="*{name}" required/>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" placeholder="Price" th:field="*{price}"/>
    <br>
    <label for="height">Height:</label>
    <input type="number" id="height" placeholder="Height" th:field="*{height}"/>
    <br>
    <label for="description">Description:</label>
    <input type="text" id="description" placeholder="Description" th:field="*{description}"/>
    <br>
    <button th:text="'Create'" th:type="submit"/>
</form>

</body>
</html>
