<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
    <title>Create Plant</title>
</head>
<body>
<div class="container">
<h1>Create a Plant</h1>

<form th:action="@{/plants}" th:object="${newPlant}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Name" th:field="*{name}" required/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label for="price">Preis (€):</label>
    <input type="number" id="price" placeholder="Preis in Euro" th:field="*{price}" step="any" min="0" required/>
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <label for="height">Höhe (cm):</label>
    <input type="number" id="height" placeholder="Höhe in Zentimeter" th:field="*{height}" step="any" min="0" required/>
    <div th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
    <br>
    <label for="description">Beschreibung:</label>
    <input type="text" id="description" placeholder="Beschreibung" th:field="*{description}"/>
    <br>
    <button th:text="'Create'" th:type="submit"/>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>
</body>
</html>
