<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pflanzendetails</title>
    <style>
        img {
            width: 200px;
            height: 150px;
            object-fit: cover;  /* Maintain aspect ratio */
        }
    </style>
</head>
<body>
<h1>Pflanzendetails</h1>

<p><strong>Name:</strong> <span th:text="${plant.getName()}"></span></p>
<p><strong>Preis:</strong> <span th:text="${plant.getPrice()}"></span></p>
<p><strong>Groeße:</strong> <span th:text="${plant.getHeight()}"></span></p>
<p><strong>Beschreibung:</strong> <span th:text="${plant.getDescription()}"></span></p>
<p><strong>Bild:</strong> <img th:src="@{${plant.getImagePath()}}" alt="Plant image"></p>

<a th:href="@{/plants}">Zurück zur Liste</a>

</body>
</html>
