<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
    <title>Pflanze bearbeiten</title>
</head>
<body>
<h1>Pflanze bearbeiten</h1>

<form th:action="@{/plants/edit/{id}(id=${plantToUpdate.plantId})}" th:object="${plantToUpdate}" method="post" enctype="multipart/form-data">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Name" th:field="*{name}" required/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div>
        <label for="price">Preis:</label>
        <input type="number" id="price" placeholder="Preis in Euro" th:field="*{price}" step="any" required/>
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    </div>
    <div>
        <label for="height">Höhe:</label>
        <input type="number" id="height" placeholder="Höhe in Zentimeter" th:field="*{height}" step="any" required/>
        <div th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
    </div>
    <div>
        <label for="description">Beschreibung:</label>
        <textarea id="description" placeholder="Beschreibung" th:field="*{description}"></textarea>
    </div>
    <div class="mb-3">
        <label for="imageFile" class="form-label">Bild: </label>
        <input class="form-control" type="file" id="imageFile" name="imageFile" accept="image/*">
    </div>
    <div>
        <button th:text="'Speichern'" th:type="submit"/>
    </div>
</form>
<a th:href="@{/plants}">Zurück zur Liste</a>
</body>
</html>
