<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nachrichten</title>
</head>
<body>
<h1>Nachrichten</h1>

<ul>
    <li th:each="message : ${allMessages}">
        <p th:text="${message.messageContent}"></p>
        <p th:text="${message.sender.username}"></p>
    </li>
</ul>
<form th:action="@{/chats/{chatId}(chatId=${chat.chatId})}" th:object="${newMessage}" method="post">
    <label for="messageContent">Nachricht:</label>
    <input type="text" id="messageContent" th:field="*{messageContent}" placeholder="Nachricht eingeben" required/>
    <button type="submit">Senden</button>
</form>
</body>
</html>
