<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
    <title>Meine Wunschliste</title>
    <style>
        .nav-underline {
            margin-bottom: 30px;
        }
        .custom-nav-link .nav-link{
            color: #2e8b57 !important;
            font-size: 1.25rem;
            text-decoration: none;
        }
        .custom-nav-link .nav-link.active {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<th:block th:insert="~{fragments/htmlNavBar :: navbar}"></th:block>

<div class="container mt-5 mb-5">
    <ul class="nav nav-underline">
        <li class="nav-item custom-nav-link">
            <a class="nav-link" href="/myPlantsForSale">Meine Verkäufe</a>
        </li>
        <li class="nav-item custom-nav-link">
            <a class="nav-link" href="/myPlants">Meine Pflanzen</a>
        </li>
        <li class="nav-item custom-nav-link">
            <a class="nav-link active" href="/myWishlist">Meine Wunschliste</a>
        </li>
    </ul>

    <h1>Meine Wunschliste</h1>
    <!-- Inhalte für Meine Wunschliste -->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.querySelectorAll('.nav-link').forEach(link => {
        link.addEventListener('click', function () {
            document.querySelectorAll('.nav-link').forEach(nav => nav.classList.remove('active'));
            this.classList.add('active');
        });
    });
</script>
</body>
</html>

