<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plants</title>
</head>
<body>
    <h1>Plants</h1>
    <ul>
        <li th:each="plant : ${allPlants}">
            <a th:href="@{/plants/{id}(id=${plant.plantId})}" th:text="${plant.getName()}"></a>
            <a th:href="@{/plants/edit/{id}(id=${plant.plantId})}">Bearbeiten</a>
        </li>
    </ul>
    <a th:href="@{/plants/new}" class="btn btn-primary">Neue Pflanze hinzufügen</a>
</body>
</html>
