<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plants</title>
</head>
<body>
    <h1>Plants</h1>
    <div>
        <form class="search">
            <div class="search_input">
                <input   label="Find a Title:" type="text"/>
            </div>
            <div class="search_button">
                <button type="submit" >Search</button>
            </div>
        </form>
    </div>
    <ul>
        <li th:each="plant : ${allPlants}">
            <a th:href="@{/plants/{id}(id=${plant.plantId})}" th:text="${plant.getName()}"></a>
            <a th:href="@{/plants/edit/{id}(id=${plant.plantId})}">Bearbeiten</a>
            <form th:action="@{/plants/{plantId}/newChat(plantId=${plant.plantId})}" method="post" style="display:inline;">
                <button type="submit">Nachricht versenden</button>
            </form>
            <form th:action="@{/plants/delete/{id}(id=${plant.plantId})}" method="post" style="display:inline;">
                <button th:type="submit" onclick="return confirm('Sind Sie sicher, dass Sie diese Pflanze löschen möchten?');">Löschen</button>
            </form>
        </li>
    </ul>
    <a th:href="@{/plants/new}" class="btn btn-primary">Neue Pflanze hinzufügen</a>
    <a th:href="@{/}">Zurück zu Home</a>
</body>
</html>
